.col_item {
  border-bottom: .5px dashed #BDBDBD;
  padding-bottom: 8px;
}

.col_left {
  min-width: 200px;

  :global {
    p {
      color: #6C6868;
    }
  }
}

.col_right {
  :global {
    p {
      color: #181414;
    }
  }
}

.info_file_attachments {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  :global {
    .ant-image {
      height: 124px;
      width: 100%;
      border: 0.5px solid #F5F5F5;
      border-radius: 12px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    .ant-image-mask {
      border-radius: 12px;
    }
  }
}

.info_video {

  :global {

    div,
    iframe {
      height: 100% !important;
      width: 100% !important;
      border-radius: 12px;
    }
  }
}