.drop_zone_top {
  display: flex;
  flex-direction: column;

  :global {
    .ant-upload-list-item-container {
      width: 100% !important;
      margin: 0 !important;
    }
  }
}

.drop_zone_bottom {
  :global {
    .ant-upload-list-item-container {
      width: calc(20% - 8px) !important;

      @media (max-width: 600px) {
        width: calc(50% - 8px) !important;
      }
    }
  }
}